@{
    ViewBag.Title = "Home Page";
}

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Estatísticas Gerais</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li    
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    Quantidade de Casos de Teste: </br>
    Tempo Médio de Execução de Testes: </br>


    Quantidade de Roteiros de Teste: </br>
    Tempo Médio de Execuções: </br>

    Quantidade de Sistemas Cadastrados: </br>
    Quantidade de Telas Cadastradas: </br>
    Quantidade de Ações Cadastradas: </br>
</div>