
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1 class="page-header">
        Quadro Trello
    </h1>
</div>


<div class="jumbotron">
    <h1>Olá, Trello!</h1>
    <p>Nosso quadro Scrum para gerenciamento das tarefas de testes automatizados</p>
    <p><a class="btn btn-primary btn-lg" href="https://trello.com/b/4FvDdLBg/testes-automatizados" role="button">Ir para o Quadro</a></p>
</div>